.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,150,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

<style>
.imageContainer {
  padding: 50px;
  background-color: green;
  transition: transform .5s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.imageContainer:hover {
  transform: scale(1.15); /* (150% zoom)*/
}
</style>