{% extends 'portfolios/bootstrap_navbar.html' %}

{% load static %}

{% block content %}

    <h2 class="font-weight-bold text-center">Your Generated Password</h2><br><br>
    <h3 class="alert alert-success" style="text-align:center"> Your Generated Password is: <b>{{ password }}</b></h3>
    <br>
    <div class="container text-center">
        <a href="https://github.com/amiorahman/django3-password-gen" > Github Link to this Module </a><br><br>
        <a href="{% url 'home' %}" class="btn btn-success"> Home </a>
    </div>

{% endblock %}